.mat-card-avatar{
// padding: 5%;
justify-content: center;
}

.header-image{
    // display: block;
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}